h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.icon {
  fill: currentColor;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.button {
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.link:hover,
.link:focus {
  color: #28a745;
}

/* open-sans-300 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/open-sans-v34-latin-300.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans-v34-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v34-latin-300.woff2") format("woff2"), url("../fonts/open-sans-v34-latin-300.woff") format("woff"), url("../fonts/open-sans-v34-latin-300.ttf") format("truetype"), url("../fonts/open-sans-v34-latin-300.svg#OpenSans") format("svg"); /* Legacy iOS */
}
/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/open-sans-v34-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/open-sans-v34-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-v34-latin-regular.woff2") format("woff2"), url("../fonts/open-sans-v34-latin-regular.woff") format("woff"), url("../fonts/open-sans-v34-latin-regular.ttf") format("truetype"), url("../fonts/open-sans-v34-latin-regular.svg#OpenSans") format("svg"); /* Legacy iOS */
}
body {
  font-family: Open Sans, sans-serif;
  color: #ffffff;
}

.team__title, .blog__title, .cases__title, .features__title {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
}
@media screen and (min-width: 768px) {
  .team__title, .blog__title, .cases__title, .features__title {
    font-size: 38px;
    line-height: 1.26;
  }
}

.logo-link {
  display: flex;
  justify-content: center;
  font-size: 32px;
  line-height: 1.32;
  margin-bottom: 10px;
}
@media screen and (max-width: 767.5px) {
  .logo-link {
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .logo-link {
    font-size: 35px;
    line-height: 1.21;
  }
}

.logo-link::before {
  content: "";
  display: inline-block;
  align-self: flex-end;
  margin-right: 6px;
  width: 40px;
  height: 35px;
  background-image: url(../images/fa-solid_book-open_min.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (min-width: 768px) {
  .logo-link::before {
    align-self: center;
    margin-right: 10px;
  }
}

.logo__first-word {
  color: #28a745;
  margin-right: 5px;
}
@media screen and (min-width: 768px) {
  .logo__first-word {
    margin-right: 14px;
  }
}

.logo__second-word {
  color: #ffffff;
}

.navigation {
  font-size: 16px;
  line-height: 1.6;
}
@media screen and (min-width: 768px) {
  .navigation {
    margin-left: 65px;
    font-size: 18px;
    line-height: 1.56;
  }
}
@media screen and (min-width: 1360px) {
  .navigation {
    margin-left: 557px;
  }
}

.navigation-list {
  display: flex;
  justify-content: center;
  gap: 13px;
}
@media screen and (min-width: 768px) {
  .navigation-list {
    gap: 18px;
  }
}
@media screen and (min-width: 1360px) {
  .navigation-list {
    gap: 38px;
  }
}

.navigation-list__link {
  color: currentColor;
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
@media screen and (max-width: 767.5px) {
  .container {
    width: 320px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1360px) {
  .container {
    width: 1360px;
  }
}

@media screen and (min-width: 1360px) {
  .container {
    width: 1360px;
  }
}
.header {
  position: absolute;
  padding-top: 20px;
  padding-bottom: 0px;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 11px;
  }
}

.header__container {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  width: 100vw;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .header__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 41px;
    padding-right: 37px;
  }
}
@media screen and (min-width: 1360px) {
  .header__container {
    padding-left: 50px;
    padding-right: 46px;
  }
}

.hero {
  text-align: center;
  height: 533px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/Mobile/Hero-mobile.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 768) {
  .hero {
    padding-top: 144px;
  }
}
@media screen and (max-width: 767.5px) {
  .hero {
    padding-top: 144px;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/Mobile/Hero_mobile@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    height: 1024px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/Tablet/Hero-min.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/Tablet/Hero@2x-min.jpg);
  }
}
@media screen and (min-width: 1360px) {
  .hero {
    height: 768px;
    max-width: 1360px;
    margin: 0 auto;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/Desktop/Hero-min.jpg);
  }
}
@media screen and (min-width: 1360px) and (min-device-pixel-ratio: 2), screen and (min-width: 1360px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1360px) and (min-resolution: 192dpi), screen and (min-width: 1360px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../images/Desktop/Hero@2x-min.jpg);
  }
}

.hero__container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .hero__container {
    height: 100%;
    justify-content: center;
  }
}

.hero__title {
  margin-bottom: 16px;
  font-weight: 300;
  font-size: 52px;
  line-height: 1.27;
  color: #e9e9e9;
}
@media screen and (max-width: 767.5px) {
  .hero__title {
    max-width: 241px;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 55px;
    line-height: 1.2;
  }
}

.hero__text {
  max-width: 246px;
  margin-bottom: 27px;
  font-size: 22px;
  line-height: 1.67;
  color: #e9e9e9;
}

.hero__button {
  padding: 10px 30px;
  background-color: #28a745;
  height: 45px;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: currentColor;
}

.about {
  color: #333333;
  padding-top: 30px;
  padding-bottom: 31px;
}
@media screen and (min-width: 768px) {
  .about {
    padding-top: 40px;
    padding-bottom: 47px;
  }
}
@media screen and (min-width: 1360px) {
  .about {
    padding-top: 40px;
    padding-bottom: 19px;
  }
}

.about__container {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .about__container {
    padding-left: 55px;
    padding-right: 55px;
  }
}
@media screen and (min-width: 1360px) {
  .about__container {
    padding-left: 66px;
    padding-right: 66px;
  }
}

.about__title {
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1.66;
}
@media screen and (min-width: 768px) {
  .about__title {
    font-size: 20px;
    line-height: 1.65;
  }
}

.about__text {
  font-size: 16px;
  line-height: 1.6;
}
@media screen and (min-width: 768px) {
  .about__text {
    font-size: 18px;
    line-height: 1.56;
  }
}

.about__icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 11px;
  width: 64px;
  height: 64px;
  background-color: #28a745;
  border-radius: 50%;
  margin-bottom: 15px;
}
.about__item:not(:last-child) {
  margin-bottom: 18px;
}

@media screen and (min-width: 768px) {
  .about__list {
    display: flex;
    gap: 49px;
  }
}
@media screen and (min-width: 1360px) {
  .about__list {
    gap: 71px;
  }
}

@media screen and (min-width: 768px) {
  .about__item {
    width: calc((100% - 98px) / 3);
  }
}

.features {
  padding-bottom: 30px;
  background-color: #28a745;
}
@media screen and (min-width: 768px) {
  .features {
    display: flex;
    padding: 0;
    justify-content: center;
  }
}
.features__container {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
@media screen and (min-width: 768px) {
  .features__container {
    width: 384px;
    padding-right: 39px;
    margin: 0;
  }
}
@media screen and (min-width: 1360px) {
  .features__container {
    width: 680px;
    padding-top: 84px;
    padding-right: 39px;
    margin: 0;
  }
}

.features__pre-text {
  font-size: 18px;
  line-height: 1.66;
  margin-bottom: 5px;
}
@media screen and (min-width: 768px) {
  .features__pre-text {
    font-size: 20px;
    line-height: 1.65;
  }
}

.features__title {
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .features__title {
    width: 204px;
    font-size: 38px;
    line-height: 1.26;
    margin-bottom: 26px;
  }
}
@media screen and (min-width: 1360px) {
  .features__title {
    width: 100%;
    font-size: 38px;
    line-height: 1.26;
    margin-bottom: 26px;
  }
}

.features__after-text {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 14px;
}
@media screen and (min-width: 768px) {
  .features__after-text {
    font-size: 18px;
    line-height: 1.56;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1360px) {
  .features__after-text {
    margin-bottom: 17px;
  }
}

.features__button {
  color: currentColor;
  width: 158px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  line-height: 1.6;
  border: 1px solid #ffffff;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .features__button {
    width: 167px;
    font-size: 18px;
    line-height: 1.56;
  }
}

@media screen and (max-width: 767.5px) {
  .features__thumb {
    max-width: 320px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .features__thumb {
    width: 384px;
  }
}
@media screen and (min-width: 1360px) {
  .features__thumb {
    width: 680px;
  }
}

.cases {
  padding-top: 50px;
  padding-bottom: 46px;
}

.cases__container {
  padding-left: 28px;
  padding-right: 28px;
}

@media screen and (min-width: 768px) {
  .cases-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 7px;
    -moz-column-gap: 8px;
         column-gap: 8px;
  }
}

@media screen and (min-width: 768px) {
  .cases-list__item {
    width: calc((100% - 24px) / 4);
  }
}

@media screen and (max-width: 767.5px) {
  .cases-list__item:not(:last-child) {
    margin-bottom: 7px;
  }
}

.cases__pre-text {
  font-size: 18px;
  line-height: 1.66;
  text-align: center;
  margin-bottom: 15px;
  color: #333333;
}
@media screen and (min-width: 768px) {
  .cases__pre-text {
    font-size: 20px;
    line-height: 1.65;
  }
}

.cases__title {
  text-align: center;
  margin-bottom: 35px;
  color: #333333;
}

.cases__after-text {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 37px;
  text-align: center;
  color: #333333;
}
@media screen and (min-width: 768px) {
  .cases__after-text {
    margin-bottom: 38px;
    font-size: 18px;
    line-height: 1.56;
  }
}

.blog {
  background-color: #0284d0;
}
@media screen and (max-width: 767.5px) {
  .blog {
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .blog {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
}

@media screen and (max-width: 1359px) {
  .blog__container {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (min-width: 768px) {
  .blog__container {
    width: 384px;
    margin: 0;
  }
}
@media screen and (min-width: 1360px) {
  .blog__container {
    width: 680px;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.blog__picture {
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .blog__picture {
    width: 100%;
  }
}

.blog__pre-text {
  font-size: 18px;
  line-height: 1.66;
  margin-bottom: 5px;
}
@media screen and (min-width: 768px) {
  .blog__pre-text {
    font-size: 20px;
    line-height: 1.65;
    margin-bottom: 6px;
  }
}
@media screen and (min-width: 1360px) {
  .blog__pre-text {
    margin-bottom: 5px;
  }
}

.blog__title {
  margin-bottom: 25px;
}
@media screen and (min-width: 768px) {
  .blog__title {
    font-size: 38px;
    line-height: 1.26;
    margin-bottom: 26px;
  }
}

.blog__after-text {
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 1.6;
}
@media screen and (min-width: 768px) {
  .blog__after-text {
    width: 315px;
    font-size: 18px;
    line-height: 1.56;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1360px) {
  .blog__after-text {
    width: 606px;
    margin-bottom: 17px;
  }
}

.blog__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 184px;
  height: 47px;
  font-size: 16px;
  line-height: 1.6;
  color: currentColor;
  border: 1px solid #ffffff;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .blog__link {
    width: 196px;
    height: 50px;
    font-size: 18px;
    line-height: 1.56;
  }
}

@media screen and (max-width: 767.5px) {
  .blog__thumb {
    max-width: 320px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .blog__thumb {
    width: 384px;
  }
}
@media screen and (min-width: 1360px) {
  .blog__thumb {
    width: 680px;
  }
}

.team {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #333333;
}
@media screen and (min-width: 768px) {
  .team {
    padding-top: 49px;
    padding-bottom: 59px;
  }
}
@media screen and (min-width: 1360px) {
  .team {
    padding-top: 48px;
    padding-bottom: 59px;
  }
}

@media screen and (min-width: 768px) {
  .team__container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.team__pre-text {
  font-size: 18px;
  line-height: 1.66px;
  margin-bottom: 15px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .team__pre-text {
    font-size: 20px;
    line-height: 1.65;
    margin-bottom: 16px;
  }
}

.team__title {
  margin-bottom: 35px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .team__title {
    font-size: 38px;
    line-height: 1.26;
    margin-bottom: 34px;
  }
}

.team__after-text {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 37px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .team__after-text {
    font-size: 17px;
    line-height: 1.66;
    margin-bottom: 49px;
  }
}
@media screen and (min-width: 1360px) {
  .team__after-text {
    font-size: 18px;
    line-height: 1.56;
    margin-bottom: 45px;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    gap: 20px;
  }
}

@media screen and (max-width: 767.5px) {
  .team-list__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .team-list__item {
    width: calc((100% - 40px) / 3);
  }
}

.team__picture {
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .team__picture {
    margin-bottom: 14px;
  }
}
@media screen and (min-width: 1360px) {
  .team__picture {
    margin-bottom: 13px;
  }
}

.team-list__title {
  margin-bottom: 11px;
  font-size: 23px;
  line-height: 1.25;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .team-list__title {
    font-size: 25px;
    line-height: 1.27;
  }
}

.team-list__text {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .team-list__text {
    font-size: 18px;
    line-height: 1.56;
  }
}

.contact {
  background-color: #f4f4f4;
  color: #333333;
}
@media screen and (min-width: 768px) {
  .contact {
    display: flex;
    justify-content: center;
  }
}

.contact__picture {
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .contact__picture {
    width: 384px;
  }
}
@media screen and (min-width: 1360px) {
  .contact__picture {
    width: 680px;
  }
}

.contact__container {
  padding-top: 26px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .contact__container {
    width: 384px;
    margin: 0;
  }
}
@media screen and (min-width: 1360px) {
  .contact__container {
    width: 680px;
    padding-top: 78px;
    padding-bottom: 82px;
  }
}

.contact__text {
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
  margin-bottom: 34px;
}
@media screen and (min-width: 768px) {
  .contact__text {
    font-size: 38px;
    line-height: 1.26;
  }
}

.form__input {
  width: 100%;
  height: 40px;
  padding: 5px;
  background-color: #ffffff;
  border: none;
}
.form__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.44;
  color: #808080;
}
.form__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.44;
  color: #808080;
}
.form__input::placeholder {
  font-size: 16px;
  line-height: 1.44;
  color: #808080;
}
@media screen and (min-width: 768px) {
  .form__input::-moz-placeholder {
    font-size: 18px;
    line-height: 1.28;
  }
  .form__input:-ms-input-placeholder {
    font-size: 18px;
    line-height: 1.28;
  }
  .form__input::placeholder {
    font-size: 18px;
    line-height: 1.28;
  }
}
@media screen and (min-width: 1360px) {
  .form__input::-moz-placeholder {
    font-size: 18px;
    line-height: 1.56;
  }
  .form__input:-ms-input-placeholder {
    font-size: 18px;
    line-height: 1.56;
  }
  .form__input::placeholder {
    font-size: 18px;
    line-height: 1.56;
  }
}

.form__input:nth-child(1) {
  margin-bottom: 36px;
}

.form__input:nth-child(2) {
  margin-bottom: 53px;
}
@media screen and (min-width: 1360px) {
  .form__input:nth-child(2) {
    margin-bottom: 60px;
  }
}

.form__button {
  width: 100%;
  height: 42px;
  font-size: 16px;
  line-height: 1.38;
  color: #ffffff;
  background-color: #28a745;
}

@media screen and (max-width: 767.5px) {
  .contact__thumb {
    max-width: 320px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .contact__thumb {
    width: 384px;
  }
}
@media screen and (min-width: 1360px) {
  .contact__thumb {
    width: 680px;
  }
}

.footer {
  background-color: #333333;
  height: 110px;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-bottom: 16px;
    font-size: 18px;
    line-height: 1.56;
  }
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.soc-links-list {
  display: flex;
}

.footer__soc-links-list {
  margin: 0 auto 9px;
}

.soc-links-list__item {
  width: 35px;
  height: 35px;
}

.soc-links-list__item:not(:last-child) {
  margin-right: 25px;
}/*# sourceMappingURL=main.css.map */