$main-font-family: Open Sans, sans-serif;

$primary-text-color: #ffffff;
$second-text-color: #333333;

$main-background-color: #ffffff;
$second-background-color: #28a745;
$third-background-color: #0284d0;
$fourth-background-color: #f4f4f4;
$fifth-background-color: #333333;

$logo-first-word-color: #28a745;
$logo-second-word-color: #ffffff;
$button-background-color: #28a745;

$placeholder-text-color: #808080;

$accent-color: #28a745;

// #FFFFFF
// #333333
// #28A745
// #808080
// #E9E9E9
// #F5F5F5
// #F4F4F4
// #000000
// 40 %
// #0284D0
// #000000
// 60 %
// #D9D9D9
